<@ui.init ["系统管理", "数据字典"], "data_dict"/>

<@ui.layout>
<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="panel search shadow">
      <div class="panel-body bordered-left">
        <form method="post" role="form" action="/customer/list.htm">
          <div class=" row">
           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-horizontal">
             <div class="form-group margin-bottom-10">
               <label for="username" class="col-md-3 control-label no-padding-right text-nowrap">名称：</label>
               <div class="col-md-9">
                   <input type="text" value ="${map.username}" name="username" class="form-control" placeholder="请输入账号" onblur="filterTrim(this);"/>
               </div>
             </div>
           </div> 
           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-horizontal">
             <div class="text-align-left">
                 <button type="submit" class="btn btn-info" name="submit"><i class="fa fa-search"></i> 查询</button>
                 <button type="button" class="btn btn-default" name="reset"><i class="fa fa-undo"></i> 重置</button>
             </div>
           </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel">
      <div class="panel-body">
     	<div class="row">
		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-horizontal">
			<div class="buttons-preview">
				<a class="btn btn-danger" href="/v3/products/new"><i class="fa fa-plus"></i> 新增 </a>
			</div>
		  </div>
	    </div>
	    <div class="row">
	      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-horizontal">
            <table width="100%" class="table table-striped table-bordered table-hover" id="productlist">
              <thead class="bordered-orange">
                <tr>
				  <th>类型</th>
				  <th>值</th>
				  <th>名称</th>
				  <th>创建人</th>
				  <th>创建时间</th>
				  <th>修改人</th>
				  <th>修改时间</th>
			    </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</@ui.layout>