<@ui.init ["系统管理", "服务管理"] "serve"/>

<@ui.layout>
<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="panel search shadow">
      <div class="panel-body bordered-left">
        <form method="post" role="form" action="/customer/list.htm">
          <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-horizontal">
             <div class="form-group margin-bottom-10">
               <label for="username" class="col-md-3 control-label no-padding-right text-nowrap">服务名称：</label>
               <div class="col-md-9">
                   <input type="text" value ="${map.username}" name="username" class="form-control" placeholder="请输入服务名称" onblur="filterTrim(this);"/>
               </div>
             </div>
           </div> 
           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-horizontal">
             <div class="text-align-left">
                 <button type="submit" class="btn btn-info" name="submit"><i class="fa fa-search"></i> 查询</button>
                 <button type="button" class="btn btn-default" name="reset"><i class="fa fa-undo"></i> 重置</button>
             </div>
           </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel">
      <div class="panel-body">
     	<div class="row">
		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="buttons-preview">
				<a class="btn btn-danger" href="/security/user/create"><i class="fa fa-plus"></i> 新增 </a>
			</div>
		  </div>
	    </div>
	    <div class="row">
	      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table width="100%" class="table table-striped table-bordered table-hover" id="productlist">
              <thead class="bordered-orange">
                <tr>
                  <th> 在线 </th>
                  <th> 服务名称 </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<@ui.js>
<!-- Handlebars -->
<#include "/inc/hdbars/button.vm">
<#include "/inc/hdbars/smile.vm">
<!-- /Handlebars -->

<script type="text/javascript">
$(document).ready(function () {
	//$("#aa").slimScroll({height: 488, alwaysVisible: true, allowPageScroll: true});
	
	$('#productlist').pagination({
		info: true,
		paginate: true,
		url: '/v3/products/search',
		columns: [
		    { "data": null, "sClass": "text-center"},
		    { "data": "name" }
		],
		columnDefs: [
		    {
		    	width: 100,
		    	targets: 0,
		    	render: function (data, type, row, meta) {
		    		return $.handlebars($('#smile-hdbars'), data);
		    	}
		    }
		]
	});
});
</script>
</@ui.js>
</@ui.layout>