<@ui.init ["版本"], "version"/>
<@ui.layout>
<div class="row mt25">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="well bordered-left bordered-themesecondary">
      <i class="fa fa-star yellow margin-right-5"></i>
        <strong>当前版本: </strong>场馆管理系统 <b>V3.0.0</b> <small class="gray"><i>@上海天健体育科技发展有限公司</i></small>
    </div>
    
    <div class="row pricing-container" style="display: none;">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan">
                <div class="header bordered-yellow">网页版</div>
                <ul>
                    <li><b>Basic HTML Version</b></li>
                    <li>
                        <p>
                            With More than 100 pages, components and layouts, HTML version gives you the power to start your application without
                            depending on any specific technology.
                            <br />
                            You can use HTML version to start your application in any platform and with any technology that you want.
                            <br />
                        </p>
                    </li>
                </ul>
                <a class="signup bg-yellow">当前版本</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan popular-plan animated bounce">
                <div class="header bordered-orange">Android</div>
                <ul>
                    <li>
                        <b>ASP.NET MVC 5 Helpers</b>
                    </li>
                    <li>
                        <p>
                            Asp.Net MVC version is built to make it easy for Microsoft Asp.net Developers to use BeyondAdmin and build awesome applications as fast as possible.
                        </p>
                        <p>
                            MVC version Includes <b>HTML Helpers</b> for almost all Components of Bootstrap and BeyondAdmin and you can easily generate your mvc views without using bootstrap html markup directly.
                        </p>
                        <p>
                            It also Containt <b>Layout Pages</b> with all references and resource <b>Bundles</b>.
                        </p>
                        <p><b>Asp.net Identity</b> is used in Login and Register pages </p>
                    </li>
                </ul>
                <a class="signup bg-orange" href="mvc.html">去下载</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan">
                <div class="header bordered-palegreen">IOS</div>
                <ul>
                    <li>
                        <b>AngularJs WebApp</b>
                    </li>
                    <li>
                        <p>
                            AngularJS lets you extend HTML vocabulary of your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
                        </p>
                        <p>
                            BeyondAdmin AngularJs version contains <b>directives</b> and <b>controllers</b> for almost every components of template. Also you can find <b>layout</b> pages, <b>lazy loading</b> and <b>routing</b> configurations.
                        </p>
                        <p>When needed, html components are replaced or completed with suitable angularJs directives or modules. also other needed angular modules such as <b>ngGrid</b> added to this version.</p>
                        <p>Start your next AngularJs Project right from here.</p>
                    </li>
                </ul>
                <a class="signup bg-palegreen" href="../beyondadmin-v1.5.0-angularjs.s3-website-us-east-1.amazonaws.com/default.htm">去下载</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan">
                <div class="header bordered-azure">微信</div>
                <ul>
                    <li>
                        <b>ASP.NET Web Forms Version</b>
                    </li>
                    <li>
                        <p>
                            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model. A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
                        </p>
                        <p>
                            Web Forms are the heart and soul of ASP.NET. Web Forms are the User Interface (UI) elements that give your Web applications their look and feel.
                        </p>
                    </li>
                </ul>
                <a class="signup bg-azure">微信扫一扫</a>
            </div>
        </div>
    </div>
  </div>
</div>
</@ui.layout>