<@ui.init ["泳馆管理", "泳馆类型管理", "泳馆类型维护"], "swim_type"/>

<@ui.layout>
<div class="row mt25">
  <div class="col-lg-6 col-sm-12 col-xs-12">
    <div class="panel">
      <div class="panel-heading">
      	<span class="panel-title" id="sp_title">新增类型</span>
      	<input type="hidden" value="${pageType}" id="pageType"/>
      	<input type="hidden" value="${req_id}" id="req_id"/>
      	<input type="hidden" value="${test_id}" id="test_id"/>
      </div>
      <div class="panel-body">
      	<form class="form-horizontal" id="jq-validation-form" novalidate="novalidate" action="/v3/swim/types/new">
      		<div class="form-group">
      			<label for="jq-validation-password" class="col-sm-3 control-label">类型编码</label>
      			<div class="col-lg-9 col-sm-9 col-xs-9">
      				<input type="text" class="form-control" id="id" name="id" placeholder="类型编码">
      			</div>
      		</div>
      		<div class="form-group">
      			<label for="jq-validation-email" class="col-lg-3 col-sm-3 col-xs-3 control-label">类型名称</label>
      			<div class="col-lg-9 col-sm-9 col-xs-9">
      				<input type="text" class="form-control" id="name" name="name" placeholder="类型名称">
      			</div>
      		</div>
      		<!-- <div class="form-group">
      			<label for="jq-validation-email" class="col-lg-3 col-sm-3 col-xs-3 control-label">是否启用</label>
      			<div class="col-lg-9 col-sm-9 col-xs-9">
      				<select id="disabled" class="form-control" name="disabled" >
      					<option value="0">启用</option>
      					<option value="1">禁用</option>
      				</select>
      			</div>
      		</div> -->
      		<hr class="panel-wide">
      
      		<div class="form-group">
      			<div class="col-sm-offset-3 col-sm-9">
      				<button type="submit" id="submit_but" class="btn btn-info"><i class="fa fa-check"></i> 保存 </button>
      				<button type="button" name="cancel_but" id="cancel_but" class="btn btn-default"><i class="fa fa-undo"></i> 取消 </button>
      			</div>
      		</div>
      	</form>
      </div>
	</div>
  </div>
</div>

<@ui.js>
<script src="${jsRoot}/assets/js/validation/bootstrap-validator.js"></script>
<script type="text/javascript">

//检查id是否已存在
function checkIdIsExist(){
	var v_id = $("#id").val();
	if($.isEmpty(v_id)){
    	$.mAlert({"message":"ID值为空."});
		return true;
	}
	return $.isEmpty(getDataById(v_id));
}

// 根据Id获得页面数据
function getDataById(v_id){
	if($.isEmpty(v_id)){
		return;
	}
	var v_data = null;
	$.mAjax({
		url: "/v3/swim/types/"+v_id,
		method: "GET",
		async: false
	}, function(json) {
     console.log(json);
     if($.isNotEmpty(json.data)){
    	 v_data = json.data;	
     }
	});
	return v_data;
}

// 初始化表单数据
function initData(){
	var v_data = getDataById($("#req_id").val());
	if($.isEmpty(v_data)){
		return;
	}
	$("#id").val(v_data.id);
	$("#name").val(v_data.name);
	//$("#disabled").val(v_data.disabled?1:0);
}

$(document).ready(function () {
	var v_pageType = $("#pageType").val();
	// 根据pageType特殊处理相关表单
	if(v_pageType == "view"){
		$("#sp_title").text("查看类型");
		$("input[type='text']").attr("readonly",true);
		$("#submit_but").remove();
		$("#cancel_but").text("返回");
		// 加载表单数据
		initData();
	}else if(v_pageType == "edit"){
		$("#sp_title").text("编辑类型");
		$("#id").attr("readonly",true);
		// 加载表单数据
		initData();
	}
	
    $('#jq-validation-form').bootstrapValidator({
        message: 'This value is not valid',
        fields: {
        	id: {
                validators: {
                    notEmpty: {
                        message: '请填写类型编码'
                    },
                    stringLength: {
                        min: 3,
                        max: 10,
                        message: '类型编码长度必须在3到10之间'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: '请填写数字和字母_.'
                    },
                    callback: {  
                        message: '类型编码已存在.',  
                        callback: function(value, validator) {
                           if(v_pageType == "edit"){
                        	   return true;
                           }
                           return checkIdIsExist();
                        }  
                    }
                }
            },
            name: {
                validators: {
                    notEmpty: {
                        message: '请填写类型名称'
                    },
                    stringLength: {
                        min: 3,
                        max: 20,
                        message: '类型名称长度必须在3到20之间'
                    },
                    different: {
                        field: 'id',
                        message: '不能和类型编码相同'
                    }
                }
            }
        }
    })
    /* .find('button[data-toggle]')
    .on('click', function () {
        var $target = $($(this).attr('data-toggle'));
        $target.toggle();
        if (!$target.is(':visible')) {
            $('#jq-validation-form').data('bootstrapValidator').disableSubmitButtons(false);
        }
    }) */.on('success.form.bv', function(e) {
        // Prevent form submission
        e.preventDefault();
        // Get the form instance
        var $form = $(e.target);
        // reqUrl 处理
        var req_url = "/v3/swim/types";
        var v_method = "POST";
        if(v_pageType == "edit"){
        	v_method = "PUT";
        }
        $.mAjax({
			url: req_url,
			method: v_method,
			param: $form.serializeObject()
		}, function(json) {
            if(json.success == 'T'){
                $.mAlert({"message":"新增成功."});
                location.href="/v3/swim/types/list";	
            }else{
				$.mAlert({ message: json.message || json.sub_message });
            }
		});
    });
    
    // 【取消】button 注册事件
    $("#cancel_but").click(function(){
        location.href="/v3/swim/types/list";
    });
});
</script>
</@ui.js>
</@ui.layout>